body {
   background-image: url(http://www.wurmonline.com/images/background.jpg);
   background-repeat: no-repeat;
   background-color: #010506;
   background-attachment: fixed;
   background-position: top;
}

.main-container {
    margin: auto;
    max-width: 800px;
    background-color: rgba(200, 200, 200, 0.8);
}

.center {
    margin: auto;
    text-align: center
}

.tab-holder {
    padding-left: 1em;
    padding-right: 1em;
}

.tab-container {
    
}