body {
   background-image: url(http://www.wurmonline.com/images/background.jpg);
   background-repeat: no-repeat;
   background-color: #010506;
   background-attachment: fixed;
   background-position: top;
}

.no-display {
    display: none;
}

.main-container {
    margin: auto;
    max-width: 800px;
    background-color: rgba(200, 200, 200, 0.8);
}

.center {
    margin: auto;
    text-align: center
}

.tab-holder {
    padding-left: 1em;
    padding-right: 1em;
}

.small-filler {
    height: 20px;
}

.table {
  border: 0.5px solid #000000;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 0.5px solid #000000;
}

.tab-container {}

.armorCalcRaritySelect {}
.armorCalcArmorSelect {}
.armorCalcMaterialSelect {}